<h1>List of tenants</h1>
<div>
  <% @tenants.each do |tenant| %>
    <ul class=" main tenant_<%= tenant.id %>">
      <li><%= tenant.first_name + ' ' + tenant.last_name %></li>
      <li><%= tenant.email %></li>
      <li>Building: <%= tenant.building.street_address + ' ' + tenant.building.city %></li>
      <li>Building owner: <%= tenant.building.owner.first_name + ' ' + tenant.building.owner.last_name %></li>
      <li><%= button_to 'Delete', tenant, method: :delete, data: { confirm: 'Are you sure you want to delete this tenant?' } %></li>
    </ul>
  <% end %>
</div>
  <br>

<h4><%= link_to 'Add a new tenant', new_tenant_path %></h4>
