<h1>List of Buildings</h1>

    <% @buildings.each do |building| %>
     <div>
      <ul class='main'>
        <li>Building Address:</li>
        <li><%= building.street_address %></li>
        <li><%= building.city + ' ' + building.state  %></li>
        <% owner = Owner.find(building.owner_id) %>
        <li>Building Owner: <%= owner.first_name + ' ' + owner.last_name %></li>
        <li><%= button_to 'Delete', building, method: :delete, data: { confirm: 'Are you sure you want to delete this building?' } %></li>
      </ul>
      <hr />
    </div>
    <% end %>
<br>
<h4><%= link_to 'Add a new building', new_building_path %></h4>
