<h1>List of Buildings</h1>

  <div>
    <% @buildings.each do |building| %>
      <ul>
        <li>Building Address:</li>
        <li><%= building.street_address %></li>
        <li><%= building.city + ' ' + building.state  %></li>
        <li>Description: <%= building.description %></li>
        <% owner = Owner.find(building.owner_id) %>
        <li>Building Owner: <%= owner.first_name + ' ' + owner.last_name %></li>
      </ul>
      <hr />
    <% end %>
  </div>
<br>
<h4><%= link_to 'Add a new building', new_building_path %></h4>
