<% @building.errors.full_messages.each do | error | %>
  <%= content_tag :p, error %>
<% end %>


  <%= form_for @building do |f| %>

    <% if @building.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@building.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% @building.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :street_address %><br />
      <%= f.text_field :street_address %>
    </div>

    <div class="field form-group">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>

    <div class="field form-group">
      <%= f.label :state %><br />
      <%= f.text_field :state %>
    </div>

    <div class="field form-group">
      <%= f.label :postal_code %><br />
      <%= f.text_field :postal_code %>
    </div>

    <div class="field form-group">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>

    <div class="field form-group">
      <%= f.label :owner_id %><br />
      <%= f.text_field :owner_id %>
    </div>

    <div class="actions">
      <%= f.submit 'Record', class: "submit btn btn-default" %>
    </div>

  <% end %>

