<!DOCTYPE html>
<html>
<head>

  <title>Building Manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="col-md-10 col-md-offset-1">
    <h1><%= link_to 'Building Management System', root_path %></h1>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs">
      <li><%= link_to 'Owners', owners_path %></li>
      <li><%= link_to 'Buildings', buildings_path %></li>
      <li><%= link_to 'Tenants', tenants_path %></li>
    </ul>
  </div>

  <div class="col-md-10 col-md-offset-1">
  <%= notice %>

  <%= yield %>
  </div>
</body>
</html>
